@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(10, 10, 10);
  --text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: rgb(10, 10, 10);
  --background-color2: rgb(20, 20, 20);
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --background-color2: rgb(220, 220, 220);
  --text-color: #000000;
}

@font-face {
  font-family: "Proxima";
  src: url("../public/fonts/Proxima-Nova.ttf") format("truetype");
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Proxima", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
